<header class="header">
  <div class="container">
    <div class="logo">
      <a href="#">Your Logo</a>
    </div>
    <div class="navbar">
      <a href="/home" class="active">Dashboard</a>
    </div>
    <div class="navbar">
      <a href="/profile">Profile</a>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Accounts</button>
      <div class="dropdown-content">
        <a href="#">Checkings</a>
        <a href="#">Savings</a>

      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Transactions</button>
      <div class="dropdown-content">
        <a href="/credit">Credit</a>
        <a href="#">Debit</a>
        <a href="/funds">Tansfer Funds</a>
        <a href="/tran-his">Transaction History</a>
      </div>
    </div>
    <div>
  </div>
  </div>
</header>